.form {
  @include flex($dir: column);

  &__label--hidden {
    display: none;
    outline: none;
  }

  &__input {
    border: none;
    border-bottom: 3px solid $color-primary;
    padding: $padding-mobile;
    margin-bottom: $margin-sm;
    color: $font-color;
    width: 80%;
    @extend %center;
  }
}